.home-container {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}

.home-container > div {
	width: 100%;
	max-width: 100%;
	padding-left: 5%;
	padding-right: 5%;
}

.text-primary {
	color: #2e8459;
}

.background-primary {
	background-color: #2e8459;
}

@media (min-width: 1024px) {
	.home-container > div {
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 768px) {
	.grid {
		width: 100%;
	}
}
